* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cdc1ff;
}

.title-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
}

.input-container {
  display: flex;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#input {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 8rem 1rem 2rem;
  border-radius: 30px;
  border: 2px solid #a594f9;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-weight: 700;
}
#input::placeholder {
  color: black;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#button {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 1%;
  left: 76%;
  padding: 1rem 1rem;
  border-radius: 100px;
  border: 1px solid black;
  background-color: #a594f9;
}
#button:hover,
#button:active {
  background-color: #7371fc;
}
.event-container {
  padding: 1% 10%;
  margin-top: 5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
}
.guesses-container {
  position: fixed;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
@media screen and (max-width: 797px) {
  .guesses-container {
    top: 65%;
    left: 50%;
    transform: translate(-50%);
  }
}
